@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 fw-bold text-danger mt-5">Welcome to NoteApp for your Daily Schedule</h1>
    <p class="display-7 mt-5">This is the simple Note Application Designed and Developed By Niruta Dhital</p>
</div>
